@import url(reset.css);

.hero
{
  width: 100%;
  max-width: 1200px;
  font-size: 12px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero__image
{
  cursor: pointer;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.hero__content
{
  width: 100%;
}

.hero__title
{
  margin-bottom: 8px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.hero__subtitle
{
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.accounts-list
{
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accounts-list__item
{
  width: 3em;
}

/* about me styles */

.about-me
{
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 1em;
  font-size: 12px;
}

.about-me__title
{
  font-size: 2em;
  font-weight: 700;
  text-align: start;
}

.about-me__content
{
  text-align: start;
  font-size: 1.5em;
  margin: 8px 0;
}

/* Front-End projects styles */

.frontend-stack
{
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  row-gap: 24px;
}

.frontend-stack__title
{
  font-size: 2em;
}

.card
{
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
}

.card__image
{
  font-size: 1.5em;
}

.card__links
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.card__item
{
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 5px;

}

.card__item:active
{
  background-color: var(--dark-grey);
}

.card__icon
{
  width: 24px;
}

/* footer styles */

.footer
{
  width: 100%;
  border-top: 2px solid var(--dark-grey);
  padding: 30px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: var(--light-grey);
}

/* responsive */

@media (width >= 667px)
{
  .hero
  {
    flex-direction: row;
    gap: 0;
  }
}

@media (width >= 1000px)
{
  .hero
  {
    font-size: 16px;
  }
}

@media (hover: hover)
{
  .card__item:hover
  {
    background-color: var(--dark-grey);
  }
}







